// =========================
// color
// =========================
// --- font ---
$font-gray: #707070;
$font-white: #ffffff;
// --- background ---
$bg-light-orange: #fff7ef;
$bg-brown: #9d8670;
// =========================
// size
// =========================