// =========================
// color
// =========================
// --- font ---
$font-gray: #707070;
$font-white: #ffffff;
$font-brown: #3c2a10;
// --- background ---
$bg-white: #ffffff;
$bg-light-orange: #fff7ef;
$bg-brown: #9d8670;
$bg-brack: #000000;
// =========================
// size
// =========================