.l-cols--search {
  display: flex; }
  .l-cols--search__col #search {
    border: 1px solid darkgray;
    border-radius: 0.3em; }
  .l-cols--search .is-button {
    margin-left: 10px; }

.l-cols--footer {
  color: white;
  background-color: #b28c6e;
  padding: 30px 45px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .l-cols--footer__col .l-cols {
    display: flex; }
    .l-cols--footer__col .l-cols__col:not(:first-child) {
      padding-left: 15px;
      margin-left: 15px;
      border-left: 1px solid white; }
