@charset "UTF-8";
.l-unit {
  /* 冗長的になってる。。うまいこと修正したい。 */ }
  .l-unit--takeOut {
    height: 681px;
    background-image: url(../img/takeout.png);
    background-size: 100%;
    position: relative; }
    @media screen and (min-width: 768px) {
      .l-unit--takeOut {
        flex-basis: 47%; } }
    .l-unit--takeOut__header {
      margin-left: 15px;
      color: white; }
    .l-unit--takeOut__description {
      position: absolute;
      bottom: 0; }
  .l-unit--eatIn {
    height: 681px;
    background-image: url(../img/eatin.png);
    background-size: 100%;
    position: relative; }
    @media screen and (min-width: 768px) {
      .l-unit--eatIn {
        flex-basis: 47%; } }
    .l-unit--eatIn__header {
      margin-left: 15px;
      color: white; }
    .l-unit--eatIn__description {
      position: absolute;
      bottom: 0; }
  .l-unit--access {
    background-image: url(../img/map.png); }
    .l-unit--access__description {
      background-color: black;
      opacity: 0.5; }
  .l-unit--archive {
    margin: 0px 15px 15px;
    padding-bottom: 30px;
    color: white;
    background-color: #24140e; }
    .l-unit--archive__image img {
      height: 200px;
      width: 100%;
      object-fit: cover; }
    .l-unit--archive__header {
      margin-top: 30px;
      margin-left: 15px;
      font-size: 16pt; }
  .l-unit--source {
    padding: 20px;
    margin-bottom: 20px;
    background-color: whitesmoke; }
    .l-unit--source__footer {
      margin-top: 15px; }
  .l-unit--image1 {
    margin-bottom: 20px; }
  .l-unit--box1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px; }
    .l-unit--box1__image {
      flex-basis: 50%; }
      .l-unit--box1__image .img {
        width: 100%;
        object-fit: cover; }
    .l-unit--box1__description {
      flex-basis: 50%; }
  .l-unit--box2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px; }
    .l-unit--box2__description {
      flex-basis: 50%; }
    .l-unit--box2__image {
      flex-basis: 50%; }
      .l-unit--box2__image .img {
        width: 100%;
        object-fit: cover; }
  .l-unit--box3 {
    margin-bottom: 30px; }
  .l-unit--image2 {
    padding: 0px 30px 100px; }
    .l-unit--image2 .img {
      width: 100%;
      object-fit: cover; }
  .l-unit--image3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px; }
    .l-unit--image3__image {
      flex-basis: 47%;
      margin: 5px; }
      .l-unit--image3__image .img {
        width: 100%;
        object-fit: cover; }
  .l-unit--list {
    margin-bottom: 30px; }
  .l-unit--code {
    background-color: whitesmoke;
    margin-bottom: 30px; }
    .l-unit--code__description {
      padding: 30px; }
