&--header {
    color: $font-gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    & &__col {
        &.is-logo {}
        &.is-search {}
        &.is-menu {
            a:link,
            a:visited,
            a:hover,
            a:active {
                color: $font-gray;
            }
        }
    }
}