&--top {
    height: 285px;
    position: relative;
    font-size: 24pt;
    & &__header {
        position: absolute;
        top: 120px;
        left: 30px;
        z-index: 51;
    }
    & &__image {
        position: absolute;
        z-index: 50;
        img {
            object-fit: cover;
        }
    }
}